{% extends "voting/base.html" %}

{% block section %}
      <section id="graph">
	<div id="chartdiv" style="width:800px; height:300px; background-color:#FFFFFF; margin-left: auto; margin-right: auto; margin-bottom: 40px"></div>
      </section>
      <section id="vote">
	{% for project in projects %}
	{% include "voting/entry_info.html" with project=project %}
	{% endfor %}
      </section>

      <section id="create" style="margin-top: 30px">
	<form method="GET" action="create">
	  <table id="addtbl">
	    <tr><td>Title:</td><td><input name="title"></td><td>Location (Lat,Lng):</td><td><input name="loc"></td></tr>
	    <tr><td>Link:</td><td><input name="link"></td><td>Image URL:</td><td><input name="image"></td></tr>
	    <tr><td>Cost:</td><td><input name="cost"></td><td>Complexity:</td><td><input name="complexity"></td></tr>
	    <tr><td>Description</td><td colspan="3"><textarea name="description"></textarea></td></tr>
	    <tr><td><input type="submit"></input></td></tr>
	  </table>
	</form>
      </section>
{% endblock %}
